body {
    text-align: center;
}

p, a {
    color: gray;
}

button.continue {
    width: 100%; /* largura */
    height: 40px; /* altura */
    border-radius: 50px; /* arrendondamento */
    border: 0;
    background-color: #b4a7d6;
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
}

a {
    text-decoration: none; /* remover o sublinhado */
}

button.genero {
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    background-color: white;
}

button.genero:hover {
    background-color: #b4a7d6;
    color: white;
}

button.genero > span {
    display: block; /* ocupar o espaco todo */
}

.emoji {
    font-size: 1.5rem;
}

.lista {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}